<div class="card text-center">
    <div class="card-header" style="background-color:#00ccff;">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link" style="color:black;size:10px" [routerLink]="['']" >Pocket</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/discover']" style="color:black;size:10px">Discover</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/mylist']" style="color:black;size:10px">Mylist</a>
        </li>
      </ul>
    </div>
  </div>